body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

/* Header styles */
header.top {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

header.top h1 {
  margin: 0;
}

header.top p {
  margin: 5px 0;
}

header.top button {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 10px 15px;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
}

header.top button:hover {
  background-color: #0056b3;
}

*/

/* Main content styles */
main {
  padding: 20px;
}

main section {
  margin-bottom: 20px;
}

main h2 {
  color: #007bff;
}

/* Search styles */
label[for="search"] {
  display: block;
  margin-bottom: 5px;
}

input#search {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* List styles */
ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin: 10px 0;
}

ul li button {
  width: 100%;
  padding: 10px 0;
  background-color: #f4f4f4;
  border: none;
  color: black;
  cursor: pointer;
  /* border-radius: 5px; */
}

ul li button:hover {
  background-color: none;
}

/* Article styles */
article h3 {
  margin-top: 0;
}

article ul {
  padding-left: 20px;
}




/* James  + Sean */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.top {
  background-color: #f8f9fa;
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.request-containers {
  display: flex;
  height: calc(100vh - 100px);
  /* Adjust based on header height */
  flex-direction: row;
  width: 100%;
}

.request-log {
  flex: 1;
  max-width: 30%;
  /* Ensures it takes up 1/3 of the container's width */
  padding: 20px;
  overflow-y: auto;
  border: 1px solid black;
  border-top: none;
  /* border-radius: 0.5rem; */
}

.request-details {
  flex: 2;
  max-width: 60%;
  /* Ensures it takes up 2/3 of the container's width */
  padding: 20px;
  overflow-y: auto;
}

.request-btn {
  text-align: left;
}

h2,
h3 {
  margin-top: 0;
}

button {
  margin: 10px;
}

input[type="text"] {
  display: block;
  margin: 10px 0;
  padding: 8px;
  width: calc(100% - 16px);
}

ul {
  list-style: none;
  padding: 0;
}

code {
  white-space: pre-wrap;
  /* This preserves whitespace and wraps the text to fit within the container */
}

h5 {
  margin: 0;
}

.request-details-grid {
  display: grid;
  grid-template-columns: 1fr 6fr;
  row-gap: 1rem;
}


.request-details-header {
  display: flex;
  justify-content: space-between;
}

.request-details-headers {
  margin-top: 1.5rem;
}